* {
  margin: 0;
  padding: 0; }

.me {
  width: 100%;
  height: 100vh;
  background-color: #222222;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; }
  @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .me {
      flex-wrap: nowrap;
      align-items: center; } }
  .me .s1_photo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center; }
    .me .s1_photo .photo {
      width: 300px;
      height: 300px;
      border-radius: 100%;
      background-color: #fff;
      background-size: cover; }
      @media only screen and (max-width: 480px) {
        .me .s1_photo .photo {
          width: 250px;
          height: 250px; } }
      @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
        .me .s1_photo .photo {
          width: 250px;
          height: 250px; } }
      @media only screen and (min-width: 1024px) {
        .me .s1_photo .photo {
          width: 300px;
          height: 300px; } }
      @media only screen and (min-width: 1900px) and (max-width: 2560px) {
        .me .s1_photo .photo {
          width: 600px;
          height: 600px; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
        .me .s1_photo .photo {
          width: 150px;
          height: 150px; } }
  .me .s1_name {
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif; }
    @media only screen and (max-width: 480px) {
      .me .s1_name {
        font-size: 35px; } }
    @media only screen and (min-width: 1900px) and (max-width: 2560px) {
      .me .s1_name {
        font-size: 80px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
      .me .s1_name {
        font-size: 30px; } }
  .me .s1_info {
    width: 80%;
    margin-top: 40px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 22px; }
    @media only screen and (min-width: 1900px) and (max-width: 2560px) {
      .me .s1_info {
        font-size: 35px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
      .me .s1_info {
        font-size: 20px;
        padding: 20px; } }
@inlucde respond-to(oldmobile) {
  .me .s1_info {
    font-size: 15px; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
      .me .s1_info {
        font-size: 20px; } }

.skills {
  width: 100%;
  height: 100vh;
  background-color: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; }
  .skills .s2_name {
    text-shadow: 1px 1px 20px #222222;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: white; }
    @media only screen and (min-width: 1900px) and (max-width: 2560px) {
      .skills .s2_name {
        font-size: 80px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
      .skills .s2_name {
        margin-top: 70px; } }
  .skills .skills_row {
    margin-top: 80px;
    width: 100%;
    height: 250px;
    display: flex; }
    @media only screen and (max-width: 480px) {
      .skills .skills_row {
        flex-wrap: wrap; } }
    .skills .skills_row .skill {
      width: 16.6%;
      height: 100%; }
      @media only screen and (max-width: 480px) {
        .skills .skills_row .skill {
          width: 33%;
          height: 60%; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
        .skills .skills_row .skill {
          width: 50%;
          height: 40%; } }
      .skills .skills_row .skill .skill_ico {
        margin: auto;
        width: 190px;
        height: 190px;
        border-radius: 100%;
        background-size: cover;
        filter: grayscale(1);
        transition: 0.2s; }
        @media only screen and (max-width: 480px) {
          .skills .skills_row .skill .skill_ico {
            width: 105px;
            height: 105px; } }
        @media only screen and (min-width: 1900px) and (max-width: 2560px) {
          .skills .skills_row .skill .skill_ico {
            width: 270px;
            height: 270px; } }
        @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
          .skills .skills_row .skill .skill_ico {
            width: 100px;
            height: 100px; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
          .skills .skills_row .skill .skill_ico {
            width: 90px;
            height: 90px; } }
        .skills .skills_row .skill .skill_ico:hover {
          filter: grayscale(0);
          transition: 0.2s; }

.wtl {
  width: 100%;
  height: 100vh;
  background-color: #222222;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .wtl .goal {
    margin-top: 100px;
    padding: 10px;
    width: 90%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2); }
    @media only screen and (min-width: 1900px) and (max-width: 2560px) {
      .wtl .goal {
        padding: 30px; } }
  .wtl .s3_name {
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 20px #222222;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: white; }
    @media only screen and (min-width: 1900px) and (max-width: 2560px) {
      .wtl .s3_name {
        font-size: 70px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
      .wtl .s3_name {
        font-size: 25px; } }
  .wtl .s3_goal1 {
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: white;
    font-family: sans-serif; }
    @media only screen and (max-width: 480px) {
      .wtl .s3_goal1 {
        font-size: 23px; } }
    @media only screen and (min-width: 1900px) and (max-width: 2560px) {
      .wtl .s3_goal1 {
        font-size: 40px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
      .wtl .s3_goal1 {
        font-size: 25px; } }

.ghlink {
  width: 200px;
  height: 60px;
  background-image: url(../img/github-600.png);
  background-size: cover;
  transition: 0.3s; }
  @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .ghlink {
      width: 150px;
      height: 45px; } }
  .ghlink:hover {
    transform: scale(1.03);
    transition: 0.3s;
    filter: contrast(150%); }

/*# sourceMappingURL=main.css.map */
